<% if following.pending_approval? %>
  
  <% if following.approver? current_user %>

    <p class='lead'>
      <%= following.following_user.name %> would like to follow you!
    </p>

    <p>
      If you approve this request, <%= following.following_user.name %> will be 
      able to see the events that you post to OpsTab.
    </p>

    <div>

      <%= link_to 'Approve', 
                  following_path( following, :approve => true ), 
                  :method => :put, 
                  :class  => 'btn btn-large btn-primary' %>

      <%= link_to 'Ignore', 
                  following_path( following, :ignore => true ), 
                  :method => :put,
                  :class  => 'btn btn-large' %>

    </div>

  <% elsif following.requester? current_user %>

    <p class='lead'>
      You've sent a follow request to <%= following.followed_user.name %>
    </p>

    <% if following.pending_approval? %>
      <p>
        This request must be verified by <%= following.following_user.name %>
        before you will be allowed notifications of their events.
      </p>
    <% end %>

    <p>
      You can cancel this request at any time by clicking the button below.
    </p>

    <div>

      <%= link_to 'Cancel Follow Request', 
                  following_path( following, :cancel => true ), 
                  :method => :put,
                  :class  => 'btn btn-large' %>

    </div>

  <% end %>

<% else %>
  
  <p>
    This follow request is no longer active.
  </p>

<% end %>
