<!DOCTYPE html>

<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h3>
      <%= @commit.comment %>
    </h3>
    
    <div id='commit-details'>
      <p>Committer: <%= @commit.committer %></p>
      <p>Time: <%= @commit.date %></p>
      <p>Revision: <%= @commit.revision %></p>
    </div>
    
    <pre id='commit-diff'>
      <%= @commit.diff %>
    </pre>

  </body>
</html>
