<!DOCTYPE html>

<html>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    
    <div class='container'>
    
      <div class='row'>

        <div class='span12 media notification-card'>

          <%= link_to @notification.event.user.name, user_url( @notification.event.user ), :class => 'pull-left' %>

          <div class='media-body'>
            <%= link_to 'View in Browser', 
                        notification_url( @notification ), 
                        :class => 'btn pull-right' %>
            <h3>
              <%= @notification.event.kind %> event
              <small>
                (<%= @notification.created_at.to_s( :human_verbose ) %>)
              </small>
            </h3>

            <p class='muted'><%= @notification.event.user.name %></p>

            <p><%= @notification.event.summary %></p>

          </div>

        </div>

      </div>

      <div class='row'>

        <table class='span12 table'>
        
          <thead>
            <tr>
              <th>Key</th>
              <th>Value</th>
            </tr>
          </thead>

          <tbody>
          <% @notification.event.data.each do |k,v| %>
            
            <tr>
              <td>
                <%= k %>
              </td>
              <td>
                <%= (k == 'diff') ? convert_to_formatted_diff( v ).html_safe : v %>
              </td>
            </tr>


          <% end %>
          </tbody>

        </table>

      </div>
    
    </div>

  </body>

</html>

