<!DOCTYPE html>

<html>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body style="color:#333; font-family:'Helvitica Neue', Helvetica, Arial, sans-serif; font-size:14px; line-height:20px; text-rendering:optimizelegibility;">
   
    <table>

      <tr>
        
        <td style="padding:5px; vertical-align:top;">
          <%= link_to notification_url( @notification ) do %>
            <%= image_tag gravatar_url( @notification.event.user, 128 ), 
                          :style => 'border-radius:6px;' %>
          <% end %>
        </td>
        
        <td style="padding:5px; vertical-align:top;">
          <%= link_to notification_url( @notification ), 
                      :style => 'text-decoration:none;' do %>
            <h3 style="margin:0; font-size:25px; line-height:40px; color:#333;">
              <%= @notification.event.kind %>
            </h3>
          <% end %>

          <small style="color:#999; font-size:14px; font-weight:normal;">
            <%= @notification.created_at.to_s :human_verbose %>
          </small>
          
          <p style="margin:0 0 10px 0; color:#999; font-size:14px;">
            <%= @notification.event.user.name %>
          </p>

          <p style="font-size:14px;">
            <%= @notification.event.summary %>
          </p>
        </td>
        
        <td style="padding:5px; vertical-align:top;">
          <%= link_to 'View in Browser', 
                      notification_url( @notification ), 
                      :style => "display:block; 
                                padding:4px 20px; 
                                vertical-align:middle; 
                                text-align:center; 
                                font-size:14px; 
                                line-height:20px; 
                                color:#333; 
                                text-shadow:0 1px 1px rgba(255,255,255,0.75); 
                                text-decoration:none;
                                border:1px solid #bbb;
                                border-color:rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25); 
                                border-radius:4px;
                                background-color:#f5f5f5;
                                background-image:-webkit-linear-gradient(top, #fff, #e6e6e6);
                                background-repeat:repeat-x;" %>
        </td>

      </tr>

      <tr>
        
        <td colspan='3' style="border-top:1px solid #eee; vertical-align:top;">

          <table style="margin-top:10px; width:100%; text-align:left; font-size:14px;">
          
            <thead>
              <tr>
                <th style="padding:8px;">
                  Key
                </th>
                <th style="padding:8px;">
                  Value
                </th>
              </tr>
            </thead>

            <tbody>
              <% @notification.event.data.each do |k,v| %>
                
                <tr>
                  <td style="padding:8px; border-top:1px solid #ddd; vertical-align:top;">
                    <%= k %>
                  </td>
                  <td style="padding:8px; border-top:1px solid #ddd; vertical-align:top;">
                    <%= (k == 'diff') ? convert_to_formatted_diff( v ).html_safe : v %>
                  </td>
                </tr>

              <% end %>
            </tbody>

          </table>

        </td>

      </tr>
      
      <tr>
        
        <td colspan='3' style="border-top:1px solid #eee; vertical-align:top; text-align:center; font-size:10px; color:#ccc;">
          Your OpsTab account is configured to send you notifications about 
          this type of event.<br /> To unsubscribe, please edit your 
          notification rules in your OpsTab account.
        </td>

      </tr>

    </table>

  </body>

</html>



