<header class='page-header'>
  <h2>Notifications</h2>
</header>

<div id="notificationsList">
  
  <% @notifications.each do |notification| %>
  
  <div class='row'>

    <div class='span8 media notification-card'>

      <%= link_to user_path( notification.event.user ), :class => 'pull-left' do %>
        <%= image_tag 'icon_user_128x128.png', 
                      :class => 'media-object img-rounded',
                      'data-src' => 'holder.js/64x64' %>
      <% end %>

      <div class='media-body'>
        <%= link_to 'View Full Notification', 
                    notification_path( notification ), 
                    :class => 'btn pull-right' %>
        <h3>
          <%= notification.event.kind %> event
          <small>
            (<%= time_ago_in_words( notification.created_at ) %> ago)
          </small>
        </h3>

        <p class='muted'><%= notification.event.user.name %></p>

        <p><%= notification.event.summary %></p>

      </div>

    </div>

  </div>
  
  <% end %>
</div>
