<header class='page-header'>
  <h2>Notification Details</h2>
</header>

<div class='row'>

  <div class='span12 media notification-card'>

    <%= link_to user_path( @notification.event.user ), :class => 'pull-left' do %>
      <%= image_tag gravatar_url( @notification.event.user, 128 ), 
                    :class => 'media-object img-rounded',
                    'data-src' => 'holder.js/128x128' %>
    <% end %>

    <div class='media-body'>
      <%= link_to 'Back to all notifications', 
                  notifications_path, 
                  :class => 'btn pull-right' %>
      <h3>
        <%= @notification.event.kind %> event
        <small>
          (<%= time_ago_in_words( @notification.created_at ) %> ago)
        </small>
      </h3>

      <p class='muted'><%= @notification.event.user.name %></p>

      <p><%= @notification.event.summary %></p>

    </div>

  </div>

</div>

<div class='row'>

  <table class='span12 table table-striped'>
  
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>

    <tbody>
    <% @notification.event.data.each do |k,v| %>
      
      <tr>
        <td>
          <%= k %>
        </td>
        <td>
          <%= (k == 'diff') ? convert_to_formatted_diff( v ).html_safe : v %>
        </td>
      </tr>


    <% end %>
    </tbody>

  </table>

</div>
