<header class='page-header'>
  <h2><%= @event.kind %> details</h2>
</header>

<div class='row'>

  <div class='span12 media notification-card'>

    <%= link_to user_path( @event.user ), :class => 'pull-left' do %>
      <%= image_tag gravatar_url( @event.user, 128 ), 
                    :class => 'media-object img-rounded',
                    'data-src' => 'holder.js/128x128' %>
    <% end %>

    <div class='media-body'>
      <h3>
        <%= @event.kind %>
      </h3>

      <small>
        <%= @event.created_at.to_s :human_verbose %>
      </small>

      <p class='muted'><%= @event.user.name %></p>

      <p><%= @event.summary %></p>

    </div>

  </div>

</div>

<div class='row'>

  <table class='span12 table'>
  
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>

    <tbody>
    <% @event.data.each do |k,v| %>
      
      <tr>
        <td>
          <%= k %>
        </td>
        <td>
          <%= (k == 'diff') ? convert_to_formatted_diff( v ).html_safe : v %>
        </td>
      </tr>


    <% end %>
    </tbody>

  </table>

</div>
