<%
  user = @user || current_user

  if user
%>

  <aside class='well well-small'>

    <div class='row'>

      <div class='span4'>
        <%= render :partial => 'users/user_card',
                   :locals  => { :user => user, :featured_user => true } %> 
      </div>

    </div>

    <div class='row-fluid'>
      <%= link_to user_events_path( user ), 
                  :class => 'muted span3 pagination-centered' do %>
        <div>
          <h4><%= user.events.count %></h4>
          Events
        </div>
      <% end %>

      <%= link_to '#', 
                  :class => 'muted span3 pagination-centered' do %>
        <div>
          <h4><%= user.notification_rules.count %></h4>
          Notification Rules
        </div>
      <% end %>
        
      <%= link_to user_followers_path( user ), 
                  :class => 'muted span3 pagination-centered' do %>
        <div>
          <h4><%= user.followers.count %></h4>
          Followers
        </div>
      <% end %>

      <%= link_to user_following_path( user ), 
                  :class => 'muted span3 pagination-centered' do %>
        <div>
          <h4><%= user.followed_users.count %></h4>
          Following
        </div>
      <% end %>

    </div>

  </aside>

  <aside class='well well-small'>
    <header>
      <% if user == current_user %>
        <h4>Your Network</h4>
      <% else %>
        <h4><%= user.name %>'s Network</h4>
      <% end %>
    </header>

    <ul class='unstyled'>
      <li><i>Recently Following</i></li>
  
      <%= render :partial => 'followings/following_list', 
                 :locals  => { :user => user, :full_row => false } %>

      <li><%= link_to 'all following...', user_following_path( user ) %></li>
      
    </ul>

    <ul class='unstyled'>
      <li><i>Recent Followers</i></li>

      <%= render :partial => 'followings/followers_list', 
                 :locals  => { :user => user, :full_row => false } %>

      <li><%= link_to 'all followers...', user_followers_path( user ) %></li>

    </ul>
  </aside>

<% end %>
