<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "OpsTab" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag 'ga' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    
    <div id="main" role="main">

      <div class='container'>
        <header class="navbar">
          <nav class='navbar-flat'>
            <div class="container">
              <%= render 'layouts/navigation' %>
            </div>
          </nav>
        </header>
      </div>

      <div class="container">

        <%= content_for?( :content ) ? yield( :content ) : yield %>

      </div>
      
      <footer>

        <%= yield :footer %>

      </footer>

    </div> <!--! end of #main -->
  </body>
</html>
