<% content_for :user_content do %>
  
  <ul class='nav nav-tabs'>

    <li class=<%= 'active' if current_page? user_events_path( @user ) %> >
      <%= link_to 'Events', user_events_path( @user ) %>
    </li>
    <li class=<%= 'active' if current_page? user_followers_path( @user ) %> >
      <%= link_to 'Followers', user_followers_path( @user ) %>
    </li>
    <li class=<%= 'active' if current_page? user_following_path( @user ) %> >
      <%= link_to 'Following', user_following_path( @user ) %>
    </li>

  </ul>

  <%= yield %>

<% end %>

<%= render :template => 'layouts/user_sidebar_layout' %>
